@model aspweb.Models.tbl_users
@{
    ViewBag.Title = "DeleteAccount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="bg-mattBlackLight my-2 p-3 text-center">
            <span class="title">Chắc chắn xóa danh mục này?</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="bg-mattBlackLight my-2 p-3">
            <dl class="row">
                <dt class="col-sm-3">Mã tài khoản:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.id)</dd>

                <dt class="col-sm-3">Tên tài khoản:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.username)</dd>

                <dt class="col-sm-3">Mật khẩu:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.password)</dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.email)</dd>

                <dt class="col-sm-3">Số điện thoại:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.phone)</dd>

                <dt class="col-sm-3">Được tạo vào:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.created_date)</dd>

                <dt class="col-sm-3">Được tạo bởi:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.created_by)</dd>

                <dt class="col-sm-3">Được cập nhật vào:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.updated_date)</dd>

                <dt class="col-sm-3">Được cập nhật bởi:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.updated_by)</dd>


            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <input type="submit" value="Xóa" class="btn btn-danger" />
            }
        </div>
    </div>
</div>




