@model aspweb.Models.tbl_users

@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="bg-mattBlackLight my-2 p-3 text-center">
            <span class="title">Cập nhật tài khoản</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="bg-mattBlackLight my-2 p-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()              

                @Html.HiddenFor(model => model.username)
                <div class="form-group">
                    <label>Tên tài khoản:</label>
                    @Html.TextBoxFor(model => model.username, new { @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Mật khẩu:</label>
                    @Html.TextBoxFor(model => model.password, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Email:</label>
                    @Html.TextBoxFor(model => model.email, new { type = "email", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Số điện thoại:</label>
                    @Html.TextBoxFor(model => model.phone, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Vai trò:</label>
                    @Html.DropDownList("role_id", null, htmlAttributes: new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.role_id, "", new { @class = "text-danger" })
                </div>



                <input type="submit" class="btn btn-primary my-2" value="Sửa" />


            }

        </div>
    </div>
    <div class="col-md-6">
        <div class="bg-mattBlackLight my-2 p-3"></div>
    </div>
</div>